h1{
    font-weight: 900;
}

.card{
    font-size: 15px;
    box-shadow: -2px -1px 16px -3px rgba(255,255,255,1);
    cursor: pointer;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.09);
}



 