<div class="gradient-pattern" style="padding-bottom: 50px;">
  <div class="container">
    <h1 class="text-center" style="padding: 10px 0px;color: whitesmoke">
      REGIONS OF THE WORLD !
    </h1>
    <div class="row bd-highlight mb-3">
      <div class="col p-2 bd-highlight" >
          <div class="card">
              <img class="card-img-top" src="../../assets/asia.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Asia</h5>
                <p class="card-text">Asia is Earth's largest and most populous continent, located primarily in the Eastern and Northern Hemispheres. It shares the continental landmass of Eurasia with the continent of Europe and the continental landmass of Afro-Eurasia with both Europe and Africa.</p>
                <!-- <a href="#" class="btn btn-primary">Countries</a> -->
                <a [routerLink]="['/countries/asia']" href="" class="btn btn-primary">Countries</a>
              </div>
          </div>
      </div>
    
      <div class="col p-2 bd-highlight">
        <div class="card">
          <img class="card-img-top" src="../../assets/africa.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Africa</h5>
            <p class="card-text">
                Africa is the world's second largest and second most-populous continent (behind Asia in both categories). At about 30.3 million km2 (11.7 million square miles) including adjacent islands, it covers 6% of Earth's total surface area and 20% of its land area.</p>
            <a [routerLink]="['/countries/africa']" href="" class="btn btn-primary">Countries</a>
          </div>
        </div>
      </div>
    
      <div class="col p-2 bd-highlight">
          <div class="card">
            <img class="card-img-top" src="../../assets/americas.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Americas</h5>
              <p class="card-text">
                  The Americas comprise the totality of the continents of North and South America. Together, they make up most of the land in Earth's western hemisphere and comprise the New World.</p>
              <a [routerLink]="['/countries/americas']" href="" class="btn btn-primary">Countries</a>
            </div>
          </div>
      </div>
    
      <div class="col p-2 bd-highlight">
          <div class="card">
            <img class="card-img-top" src="../../assets/europe.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Europe</h5>
              <p class="card-text">
                  Europe is a continent located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere. It is bordered by the Arctic Ocean to the north, the Atlantic Ocean to the west and the Mediterranean Sea to the south.</p>
              <a [routerLink]="['/countries/europe']" href="" class="btn btn-primary">Countries</a>
            </div>
          </div>
      </div>
    
      <div class="col p-2 bd-highlight">
          <div class="card">
            <img class="card-img-top" src="../../assets/oceania.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Oceania</h5>
              <p class="card-text">
                  Oceania is a geographic region comprising Melanesia, Micronesia, Polynesia and Australasia. Spanning the eastern and western hemispheres, Oceania covers an area of 8,525,989 square kilometres (3,291,903 sq mi) and has a population of 40 million.</p>
              <a [routerLink]="['/countries/oceania']" href="" class="btn btn-primary">Countries</a>
            </div>
          </div>
      </div>
    
    </div>
  </div>
</div>


